@{
    Layout = "~/Views/Layouts/Blank.cshtml";
    ViewData["Title"] = "TMS Dashboard";
}

<div class="container mt-4">
    <h1>TMS Dashboard</h1>
    <p>Select a section to manage data.</p>

    <ul>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/departments">Departments</a></li>
        <li><a href="/employees">Employees</a></li>
        <li><a href="/administrators">Administrators</a></li>
        <li><a href="/settings">Settings</a></li>
    </ul>
</div>
